{% case media.media_type %}
  {% when 'image' %}
    <div class="media-wrapper" style="position: relative; overflow: hidden;">
      <img 
        src="{{ media | img_url: '1200x' }}" 
        alt="{{ media.alt | escape }}"
        width="{{ media.width }}"
        height="{{ media.height }}"
        loading="lazy"
        style="width: 100%; height: auto; display: block;"
      >
    </div>
  {% when 'video' %}
    <div class="media-wrapper video-wrapper">
      {{ media | video_tag: controls: true, autoplay: false, loop: true, image_size: '1000x' }}
    </div>
  {% when 'external_video' %}
    <div class="media-wrapper external-video-wrapper">
      {{ media | external_video_tag }}
    </div>
{% endcase %}

<style>
  .media-wrapper video, .media-wrapper iframe { width: 100%; height: auto; aspect-ratio: 1/1; }
</style>